<div class="blog-post">
    <h2 class="blog-post-title"> <%= link_to blog.title, blog %></h2>
    <p class="blog-post-meta"> Published <%= time_ago_in_words(blog.created_at) %> ago </p>
    <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
    <p>
        <%= markdown(blog.body) %>
    </p>
</div>
