<div class="comment-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
            <%= avatar(comment.user)%>
        </div>
        <div class="col-md-10">
          <div>
          <%= comment.content%>
        </div>
        <div class="comment-attribution">
          Comment posted by <span class="comment-user"><%= comment.user.name %></span>
          <%= time_ago_in_words(comment.created_at) %> ago
        </div>
        </div>
      </div>
    </div>
  </div>
</div>