<div class="col-md-4" data-id="<%=portfolio_item.id %>">
    <div class="card mb-4 shadow-sm">
       
        <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), height: "225px", width: '100%' %>
         
                <hr>
            <div class="card-body">
               <p class="card-text">
                <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item)%>
         
            <%= portfolio_item.subtitle%></p>
        </div>
    </div>
</div>
