<div class="col-md-4" data-id="<%=portfolio_item.id %>">
    <div class="card mb-4 shadow-sm">
            <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
            <span> <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item)%></span>
            <%= portfolio_item.subtitle%>

    </div>
</div>

