
    <h1 class="cover-heading">About Me</h1>
    
  <hr>

<div class="row">
<div class="col-md-4">

<%= image_tag "profile.jpg", width:300,alt: "Profile Image"%>
</div>
<div class="col-md-8">
        <p class="lead">Let's add some information about me career here....</p>

</div>

</div>
