<h1>Welcome <%= current_user.first_name%></h1>

<h1>Blog Posts</h1>
  <%= @posts.inspect%>

<h1>Skills</h1>
  <% @skills.each do |skill|%>
  <%= skill.title %>: 
  <%= number_to_percentage(skill.percent_utilized, precision: 0) %><br>
  <% end %>
<hr>

